---
import FormattedDate from "../../components/formatted-date.astro";
import ReadingTime from "../../components/reading-time.astro";
import Toc from "../../components/table-of-contents.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import SiteLayout from "../../layout/site-layout.astro";

type Props = CollectionEntry<"blog">;

export const getStaticPaths = async () => {
	const entries = await getCollection("blog");
	return entries.map((entry) => ({
		params: { slug: entry.slug, title: entry.data.title },
		props: entry,
	}));
};

const entry = Astro.props;
const { Content, headings } = await entry.render();
---

<SiteLayout title={entry.data.title}>
	<article class="prose prose-slate mx-auto md:prose-lg dark:prose-invert prose-a:font-semibold prose-a:text-orange-500 prose-a:no-underline hover:prose-a:underline">
		<h1>{entry.data.title}</h1>
		<div class="flex justify-between text-sm italic">
			<ReadingTime before="Reading Time" after="minutes" content={entry.body} />
			<FormattedDate date={entry.data.date} />
		</div>
		<Toc headings={headings} className="mb-8" />
		<Content />
	</article>
	<script>
		import { addCopyCodeButtons } from "../../scripts/copy-code-button";
		import { addClickablePopupDialogToElements } from "../../scripts/add-clickable-popup-dialog-to-elements";
		addCopyCodeButtons("📋", "✅");
		addClickablePopupDialogToElements("article img");
	</script>
</SiteLayout>
