---
import { type CollectionEntry, getCollection } from 'astro:content';
import SiteLayout from '../../layout/site-layout.astro';
import FormatedDate from '../../components/formatted-date.astro';
import {SITE_TITLE} from '../../consts.ts';

type Props = CollectionEntry<'posts'>;

export async function getStaticPaths() {
	const posts = await getCollection('posts');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content, headings } = await post.render();
---
<SiteLayout title={`${post.data.title} | ${SITE_TITLE}`}>
  <article>
    <header>
      <label>By {post.data.author ?? `Mario Yepes`}</label>
      <FormatedDate date={post.data.date} />
    </header>
    <main>
      <Content />
    </main>
    <aside>
        <ul>
          <li><strong>Tags: </strong></li>
          {post.data.tags.map( tech => <li><a href={`/blog/#${tech}`}>{tech}</a></li>)}
        </ul>
    </aside>
  </article>
</SiteLayout>

<style>
@import '../../styles/slug-blog.scss';
</style>
