---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import SiteLayout from '../../layout/site-layout.astro';
import FormattedDate from '../../components/formatted-date.astro';
import {SITE_TITLE} from '../../consts.ts';

const posts: array = await getCollection('posts', ({data}) => {
  return import.meta.env.PROD ? !data.draft: true;
});
posts.sort( (a, b) => b.data.date.valueOf() - a.data.date.valueOf() );
---
<SiteLayout title={`Blog Posts | ${SITE_TITLE}`}>
		<main>
      <h1>Mario's Blog</h1>
      {posts.map((post, idx) =>
        <article data-article-id={post.slug} data-tags={post.data.tags.join(',')}>
          <a href={`/blog/${post.slug}/`}>
            <img
              src={post.data.cover.src}
              width={100}
              height={100}
              alt="An image"
              loading={idx > 3 ? "lazy": "eager"}
            />
          </a>
          <h2>{post.data.title}</h2>
          <ul>
            {post.data.tags.map(tag => <li><a href=`/blog/#${tag}`>{tag}</a></li>)} 
          </ul>
          <FormattedDate date={post.data.date} />
          <a href={`/blog/${post.slug}/`}> Read Article &rarr; </a>
        </article>
        )}
		</main>
</SiteLayout>

<script>
import '../../scripts/toggle-display-article.ts';
</script>

<style>
@import '../../styles/page-blog-index.scss';
</style>

