---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import GlobalLayout from '../../layouts/global-layout.astro';
import FormattedDate from '../../components/formatted-date.astro';

const posts: array = await getCollection('posts', ({data}) => {
  return import.meta.env.PROD ? !data.draft: true;
});
posts.sort( (a, b) => b.data.date.valueOf() - a.data.date.valueOf() );
---
<GlobalLayout>
		<main>
      <h1>Mario's Blog</h1>
      {posts.map(post => 
        <article>
          <a href={`/blog/${post.slug}/`}>
            <img src={post.data.cover.src} width={100} height={100} alt="An image" />
            <h2>{post.data.title}</h2>
            <time>{post.data.date.toDateString()}</time>
          </a>
          <pre style="display: none">{JSON.stringify(post.data,null,4)}</pre>
        </article>
        )}
		</main>
</GlobalLayout>

<style>
h1 {
  text-align: center;
}
article a {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  justify-content: center;
  min-height: calc( var(--size-3) * 4 );
  gap: var(--size-3);
  margin-bottom: calc(var(--size-3) * 3);
  border-bottom: 1px solid var(--gray-3);
}
article a:hover {
  box-shadow: var(--shadow-4);
  text-decoration: none;
}
img {
  display: 
}
</style>
