---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import SiteLayout from '../../layout/site-layout.astro';
import FormattedDate from '../../components/formatted-date.astro';

const posts: array = await getCollection('posts', ({data}) => {
  return import.meta.env.PROD ? !data.draft: true;
});
posts.sort( (a, b) => b.data.date.valueOf() - a.data.date.valueOf() );
---
<SiteLayout>
		<main>
      <h1>Mario's Blog</h1>
      {posts.map(post => 
        <article data-article-id={post.slug} data-tags={post.data.tags.join(',')}>
          <a href={`/blog/${post.slug}/`}>
            <img src={post.data.cover.src} width={100} height={100} alt="An image" />
          </a>
          <h2>{post.data.title}</h2>
          <ul>
            {post.data.tags.map(tag => <li><a href=`/blog/#${tag}`>{tag}</a></li>)} 
          </ul>
          <FormattedDate date={post.data.date} />
          <a href={`/blog/${post.slug}/`}> Read Article &rarr; </a>
        </article>
        )}
		</main>
</SiteLayout>

<script>
import '../../scripts/toggle-display-tags.js';
</script>

<style>
@import '../../styles/page-blog-index.scss';
</style>

