---
import SiteLayout from "../../layout/site-layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import FormattedDate from "../../components/formatted-date.astro";
type Props = CollectionEntry<"portfolio">;

export async function getStaticPaths() {
	const posts = await getCollection("portfolio");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content } = await post.render();
---

<SiteLayout title={post.data.title}>
	<article class="prose prose-slate mx-auto grid max-w-screen-lg grid-cols-1 grid-rows-[min-content_min-content] md:prose-lg dark:prose-invert prose-a:font-semibold prose-a:text-orange-500 prose-a:no-underline hover:prose-a:underline md:grid-cols-[auto_300px] md:grid-rows-1 md:gap-6">
		<main>
			<h1 class="col-span-2">{post.data.title}</h1>
			<Content />
		</main>
		<aside class="top-60 px-2 py-4 md:pt-20">
			<div>
				<strong>Client: </strong>
				{post.data.client}
			</div>
			<div>
				<strong>Project date: </strong>
				<FormattedDate date={post.data.date} />
			</div>
			<div>
				<strong>Technologies:</strong>
				<ul class="space-y-0 px-0 pl-4 capitalize">
					{
						post.data.tags.map((tag: string) => (
							<li>
								<a href={`/portfolio/#${tag}`}>{tag}</a>
							</li>
						))
					}
				</ul>
			</div>
		</aside>
	</article>
</SiteLayout>
