---
import { type CollectionEntry, getCollection } from "astro:content";
type Props = CollectionEntry<"portfolio">;

export async function getStaticPaths() {
	const posts = await getCollection("portfolio");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content } = await post.render();
---

<html>
	<body>
		<main>
			<header>
				<h1>{post.data.title}</h1>
			</header>
			<article>
				<Content />
			</article>
			<aside>
				<div>
					<strong>Client: </strong>
					{post.data.client}
				</div>
				<div>
					<strong>Project date: </strong>
					<ul>
						{
							post.data.tags.map((tag: string) => (
								<li>
									<a href={`/portfolio/#${tag}`}>{tag}</a>
								</li>
							))
						}
					</ul>
					{post.data.date.toDateString()}
				</div>
				<div>
					<strong>Used tech: </strong>
				</div>
			</aside>
		</main>
	</body>
</html>
