---
import { type CollectionEntry, getCollection } from 'astro:content';
import SiteLayout from '../../layout/site-layout.astro';
import {SITE_TITLE} from '../../consts.ts';

type Props = CollectionEntry<'posts'>;

export async function getStaticPaths() {
	const posts = await getCollection('projects');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content, headings } = await post.render();
---
<SiteLayout title={`${post.data.title} | ${SITE_TITLE}`}>
  <main>
    <header>
      <h1>{post.data.title}</h1>
    </header>
    <article>
      <Content />
    </article>
    <aside>
      <div>
        <strong>Client: </strong>
        {post.data.client}
      </div>
      <div>
        <strong>Project date: </strong>
        {post.data.date.toDateString()}
      </div>
      <div>
        <strong>Used tech: </strong>
        <ul>
          {post.data.tags.map(tag => <li><a href=`/portfolio/#${tag}`>{tag}</a></li>)}
        </ul>
      </div>
    </aside>
  </main>
</SiteLayout>

<style>
@import '../../styles/slug-portfolio.scss';
</style>
