---
import SiteLayout from "../../layout/site-layout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import FormattedDate from "../../components/formatted-date.astro";
type Props = CollectionEntry<"portfolio">;

export async function getStaticPaths() {
	const posts = await getCollection("portfolio");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content } = await post.render();
---

<SiteLayout title={post.data.title}>
	<main class="mx-auto grid max-w-screen-lg md:grid-cols-[auto_auto]">
		<h1 class="col-span-2 mb-4 text-center text-4xl font-bold">{post.data.title}</h1>
		<article class="prose prose-a:font-semibold prose-a:text-orange-600">
			<Content />
		</article>
		<aside>
			<div>
				<strong>Client: </strong>
				{post.data.client}
			</div>
			<div>
				<strong>Project date: </strong>
				<FormattedDate date={post.data.date} />
			</div>
			<div>
				<strong>Technologies:</strong>
				<ul class="pl-4 capitalize">
					{
						post.data.tags.map((tag: string) => (
							<li>
								<a href={`/portfolio/#${tag}`}>{tag}</a>
							</li>
						))
					}
				</ul>
			</div>
		</aside>
	</main>
</SiteLayout>
