---
import { type CollectionEntry, getCollection } from 'astro:content';
import GlobalLayout from '../../layouts/global-layout.astro';
import '../../styles/portfolio-slug.css';

type Props = CollectionEntry<'posts'>;

export async function getStaticPaths() {
	const posts = await getCollection('projects');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

const post = Astro.props;
const { Content, headings } = await post.render();
---
<GlobalLayout>
  <article>
    <header>
      <h1>{post.data.title}</h1>
    </header>
    <main>
      <Content />
    </main>
    <aside>
      <div>
        <strong>Client: </strong>
        {post.data.client}
      </div>
      <div>
        <strong>Project date: </strong>
        {post.data.date.toDateString()}
      </div>
      <div>
        <strong>Used tech: </strong>
        <ul>
          {post.data.tags.map(tag => <li><a href=`/portfolio/#${tag}`>{tag}</a></li>)}
        </ul>
      </div>
    </aside>
  </article>
</GlobalLayout>
